*{
    margin: 0;
    padding: 0;

}

h2{
    font-size: 18px;
}
h3{
    font-size: 12px;
}

.dropdown__content{
    display: none;
    position: absolute;
    background-color: #e0e0e0;
    min-width: 230px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.filter__navbar{
    width: 60%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

nav{
    background-color: #e0e0e0;
}

.dropdown__button{
    border-style: solid;
    border-width: 1px;
    border-color: #afafaf;
    color: #878787;
    background-color: #e0e0e0;
    border-left: none;
    border-right: none;
    width: 130px;
    padding: 5px 0px;
    text-align: left;
    margin: 5px;
    cursor: pointer;
}

.content__selected{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    font-size: 14px;
    background-color: white;
}

.content__selected p{
    padding-bottom: 40px;
    margin-left: 5px;
}

.dropdown__buttons{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 200px;
}

.select__all__button{
    border-style: solid;
    border-color: #118cff;
    padding: 5px;
    width: 30%;
    background-color: white;
    color: #118cff;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.dropdown__content__select{
    background-color: white;
    border-color: white;
    border-style: solid;
    padding: 5px;
    width: 90%;
    border-radius: 4px;
    margin: 2px auto;
}

.dropdown__content__select:focus{
    outline-color: #118cff;
}

.dropdown:hover .dropdown__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown__button:hover{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: #118cff;
    border-color: #118cff;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown__button:focus{
    outline-color: #118cff;
}

.price__select{
    width: 100px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #afafaf;
    color: #878787;
    margin: 15px 5px;
}

.price__select:focus{
    outline-color: #118cff;
}

.select__go__button{
    margin-bottom: 10px;
}

main{
    width: 60%;
    margin: auto;
}

.main__styles-found{
    text-align: center;
    color: #878787;
}

.card__heart__wrapper{
    position: absolute;
    padding: 5px;
    background-color: white;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: 15px;
    width: 15px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 15px;
}

.card__heart__wrapper:active .card__heart--black{
    display: inline;
}
.card__heart__wrapper:active .card__heart{
    display: none;
}

.card__heart--black{
    display: none;
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%
}

.card__heart{
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
}

.styles__list{
    display: flex;
    flex-wrap: wrap;
}

.style__card{
    width: calc(25% - 10px);
    position: relative;
    margin: 5px;
    cursor: pointer;
}

.style__card:hover .card__image__overlap{
    display: inline-flex;
}

.card__image__wrapper{
    width: 100%;
    padding-top: 125%;
    position: relative;
}

.card__image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card__image__overlap{
    box-sizing: border-box;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background-color: rgba(255,255,255, 0.7);
    padding: 5px;
}

.style__card__pricetag{
    color:#878787;
}